fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pgvector
langchain
openai
PyMuPDF
pytesseract
Pillow
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-dotenv
pydantic
pydantic-settings
email-validator
python-multipart
